.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.nav {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 480px) {
  .nav {
    flex-direction: column;
  }
}
