.contactForm {
  padding: 20px;
  border: solid 1px black;
  border-radius: 10%;
  width: 500px;
  background-color: rgba(235, 235, 235, 0.7);
}

.form {
  display: flex;
  flex-direction: column;
}
.formItem {
  display: flex;
  flex-direction: column;
}
.formInput {
  margin: 5px 0 10px 0;
  padding: 5px 10px;
  background-color: rgba(235, 235, 235, 0.8);
}
.btn {
  cursor: pointer;
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: rgb(157, 194, 154);
  box-shadow: 8px 8px 12px 0px rgba(66, 68, 90, 1);
}

.btn:hover {
  background-color: rgb(161, 231, 167);
}
